@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

body{
    background-image: linear-gradient(to right, red, blue);
    user-select: none;
    -webkit-user-select: none;
}


#body{
    width: 60%;
    margin: 10px auto;
    text-align: center;
}

img{
    width: 100%;
    display: block;
}

#body ul{
    list-style: none;
}

#left-side-gifs{
    width: 20%;
    margin: 0;
    float: left;
}
#right-side-gifs{
    width: 20%;
    margin: 0;
    float: right;
}

li{
    padding: 10px;
}

.fontos{
    margin: 500px auto 0 auto;
    width: max-content;
}